<!doctype html>
<html lang="en">

<head>
  <title>jQuery Demo</title>

</head>

<body>
  <button id="testButton"> Go to Image Annotator </button>
  <h1 id="demo">hey!</h1>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    var x = {data: "data from js"};
    $("#demo").html("");
    console.log("hey from outside test");
    $("#testButton").click(function () {
      console.log("hey from test");
      $.post("vatic/", x, function (data, status) {
        //window.location.href='vatic';
        //alert("sucess");
      });
    });
  </script>

  <h2> {{text}}</h2>
</body>

</html>